<div >
	<div  class="men_clothing" ng-repeat="item in items">
    	<div data-content={{item.name}} class="image" ng-click="open(item.id)">
    		<img class="men_image" ng-src="{{item.source}}" >
    	</div>
    	<div class="men_info">
    		<p>{{item.color}}</p>
    		<p>{{item.price}}</p>
    	</div>
    	
 	</div>
	<script type="text/ng-template" id="myModalContent.html">
        <div class="popup_item">
	        <div class="modal-header">
	            <h3 class="modal-title"></h3>
	        </div>
	        <img class="men_image" ng-src="{{item.source}}" >
	        <div class="modal-body">
	            
	            Selected: <b>aaa</b>
	        </div>
	        <div class="modal-footer">
	            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
	            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
	        </div>
	    </div>    
    </script>
 	

</div>