<div class="profile-container">
	<div class ='big-header-2' >
        <div class ='contact-header'>
            <div class='contact-header-container'>
                <a ui-sref="shop.collection" class="brand-name">Perfetto</a>
                <a class='fa-home'> </span>
               <ul class="top-menu">
		            	<li ><a ng-hide="isLoggedIn">Hello,{{name}}</a></li>
		                <li><a  ui-sref="{{location}}">My Account</a> </li>
		                <li><a ui-sref="cart">My Treasures</a></li>
		        </ul>
            </div>
        </div>
     </div>
	<div class="line-break"></div>
	<div class="profile-body">
		<div class="b-menu">
	        <ul >
	            <li><a ui-sref=".userInfo">User Info</a></li>
	            <li><a ui-sref=".orders">Orders</a></li>      
	        </ul>
		</div>
		<div class="nested-view-container-2"  ui-view></div>
	</div>

</div>