<div class="profileContainer">
	<div class ='bigheader2' >
        <div class ='contactHeader'>
            <div class='contactHeaderContainer'>
                <a ui-sref="shop.men" class="brand_name">Perfetto</a>
                <a class='fa-home'> </span>
                <ul class="top-menu">
                	<li ng-hide="isLoggedIn"><a >Hello,{{name}}</a></li>
		            <li ng-hide="isLoggedIn"><a ng-click="logout()">Logout?</a></li>
                    <li><a ui-sref="profile.userInfo">My Account</a></li>
                    <li><a ui-sref="cart">My Treasures</a></li>
                </ul>
            </div>
        </div>
     </div>
	<div class="linebreak"></div>
	<div class="profileBody">
		<div class="bmenu">
	        <ul >
	            <li><a ui-sref=".userInfo">User Info</a></li>
	            <li><a ui-sref=".orders">Orders</a></li>      
	        </ul>
		</div>
		<div class="nested-view-container2"  ui-view></div>
	</div>

</div>