<div class="container">
	<div class="shop">

		<!-- Header -->
	        <div class ='big-header' >
		        <div class ='contact-header'>
		          <div class='contact-header-container'>
		          	<a ui-sref="shop.collection" class="brand-name">Perfetto</a>
		            
		            <ul class="top-menu">
		            	<li ><a ng-hide="isLoggedIn">Hello,{{name}}</a></li>
		            	<li ng-click="logout()"><a ng-hide="isLoggedIn" >Logout?</a></li>
		                <li><a  ui-sref="{{location}}">My Account</a> </li>
		                <li><a ui-sref="cart">My Treasures</a></li>
		            </ul>
		          </div>
		        </div>
	        </div>

		<!-- Left Navigation bar -->
			<div class="line-break"></div>
	            <div class="b-menu">
	            <ul >
	                <li><a ui-sref="shop.men" ng-click="$event.stopPropagation()">Men</a></li>
	                <li><a ui-sref=".women">Women</a></li>
	                <li><a ui-sref=".collection">Collection</a></li>
	                <li><a ui-sref=".storemap">Stores</a></li>      
	            </ul>
				</div>
	    <!-- UI Router Nested View which displays the content from the left navigation bar -->	
			<div class="nested-view-container" ui-view></div>
				
	</div>
</div>