.homePage{
	 background: url('/assets/pictures/black.jpg') no-repeat ; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  margin:0;
	  height:100%;
}

.brand_name{
	position: relative;
	color:gold;
	font-size: 60px;
	margin-left:30px;
	top:12px;
	font-family: Ecolier;
	text-decoration: none;
}
.brand_name_home {
	position:relative;
	color:gold;
	font-size: 70px;
	margin-left:40px;
	top:30px;
	font-family: Ecolier;
	text-decoration: none;
}

@font-face {
    font-family: Ecolier;
    src: url('/assets/riesling.ttf');
}

.explore{
	color:gold;
	font-family: Ecolier;
	font-size: 40px;
	position:absolute;
	right: 7%;
	bottom: 12%;
}


body {
	width:max-width;
	height:100%;
	margin:0;
}

.container {
	height:2000px;
	width:auto;
}

/*Header*/
.bigheader {
  background: none repeat  0 0 #171717;
  height: 5%; 
}
 
.contactHeader .contactHeaderContainer {
    font-size: 11px;
    color: #d8d8d8;

 }

.top-menu{
 	position:relative;
 	list-style-type: none;
	right:5%;
    
    font-size:25px;
    color:gold;
    float:right;
    margin-bottom:20px;
 }

.top-menu li{
	display:inline;
	margin-left: 20px;
}

.top-menu a{
	display:inline;
	color:gold;
	text-decoration: none;
	font-family: Ecolier;
	font-size:30px;
	letter-spacing: 2px;
}

.linebreak {
	background-color: gold;
	height: 3px;
}

/*Left Side Menu*/
.bmenu {
    background-color: #171717;
	width:10%;
	height:100%;
	float:left;
	
	padding-left: 0;
}

.bmenu li { 
	font-size: 25px;
    display: block;
   
    list-style-type: none;
}
.bmenu li a {
	padding-top:20px;
	color: transparent;
	display: block;
	text-transform: uppercase;
	text-shadow: 0px 0px 5px #fff;
	letter-spacing: 1px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.bmenu:hover li a {
	text-shadow: 0px 0px 5px #fff;
}
.bmenu li a:hover {
	color: #fff;
	text-shadow: 0px 0px 5px gold;
	padding-left: 0px;
}
ul {
	padding:10px;
}

.nested-view-container {
	width: 90%;
	height:100%;
	margin-left:10%;
	background-color: #3a3a3a;

	
}


.men_clothing {
	text-align:center;
	float:left;	
	margin-left:2%;

}

.men_clothing p {
	font-size:20px;
	color:gold;
	font-family: 'Helvetica'
}

